* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    background-color: #ffffff;
    padding: 20px 0;
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 50px; 
    width: auto; 
    display: block; 
}
nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 15px;
    font-size: 19px;
}

nav a:hover {
    text-decoration: underline;
}

.capa {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://files.tecnoblog.net/wp-content/uploads/2025/07/tbr-linguagens-de-programacao-1060x596.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 120px 0;
    text-align: center;
}

.botao {
    background-color: #0026ff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    display: inline-block;
}

.secao {
    padding: 50px 0;
}

.fundo-cinza {
    background-color: #e9ecef;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.lista-cursos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.curso-item {
    background-color: white;
    border: 1px solid #ccc;
    
    border-radius: 15px; 
    padding: 40px 20px; 
    min-height: 250px;
    
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.curso-item img {
    width: 70px;
    height: auto;
    margin-bottom: 20px;
}

.curso-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
}


form {
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 25px; 
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

.botao-enviar {
    background-color: #0026ff;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.botao-enviar:hover {
    background-color: #004494;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* Celular */
@media (max-width: 700px) {
    .lista-cursos {
        flex-direction: column;
    }
    .curso-item {
        width: 100%;
    }
    header .container {
        flex-direction: column;
    }
    nav {
        margin-top: 10px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 20px;
}

.redes-sociais {
    margin-top: 15px;
}

.redes-sociais img {
    width: 40px; 
    height: 40px;
    margin: 0 10px; 
    cursor: pointer;
    background-color: white; 
    border-radius: 50%;
    padding: 5px; 
    transition: transform 0.3s; 
}

.redes-sociais img:hover {
    transform: scale(1.1);
}